{% comment %}
<div id="shopify-block-6097499278999377719" class="shopify-block shopify-app-block">
	<script type="text/javascript">
		window.GloboMenuConfig = window.GloboMenuConfig || {}
		window.GloboMenuConfig.products = window.GloboMenuConfig.products || {};
		window.GloboMenuConfig.collections = window.GloboMenuConfig.collections || {};
		window.GloboMenuConfig.pages = window.GloboMenuConfig.pages || {};
		window.GloboMenuConfig.GloboMenuMissingProducts = [];

		window.GloboMenuConfig.curLocale = "en";
		window.GloboMenuConfig.GloboMenuLocale = "en";
		window.GloboMenuConfig.locale = "en";
		window.GloboMenuMoneyFormat = "${{amount}}";
		window.shopCurrency = "AUD";
		window.menuRootUrl = "";
		window.GloboMenuCustomer = false;
		window.GloboMenuAssetsUrl = 'https://cdn.shopify.com/extensions/43aaa0cf-78ad-486e-8984-688a48bb95cd/0.25.0/assets/';
		window.GloboMenuFilesUrl = '//cdn.shopify.com/s/files/1/0562/7569/7706/files/';
		window.GloboMenuLinklists = {"main-menu": [{'url' :"\/pages\/new-arrival", 'title': "New"}],"footer": [{'url' :"\/search", 'title': "Search"},{'url' :"\/policies\/terms-of-service", 'title': "Terms of Service"},{'url' :"\/policies\/refund-policy", 'title': "Refund policy"}],"header-top": [{'url' :"\/pages\/contact", 'title': "Contact"},{'url' :"https:\/\/lifely.com.au\/account", 'title': "Account"}],"about-us": [{'url' :"\/pages\/about-us", 'title': "Our Story"},{'url' :"\/blogs\/article", 'title': "Blog"},{'url' :"https:\/\/lifely.com.au\/account\/", 'title': "My Account"}],"categories": [{'url' :"\/pages\/contact", 'title': "Contact Us"},{'url' :"\/pages\/frequently-asked-questions", 'title': "FAQs"},{'url' :"#", 'title': "Track Your Order"},{'url' :"\/pages\/shipping-delivery", 'title': "Shipping \u0026 Delivery"},{'url' :"\/pages\/return-refunds", 'title': "Return \u0026 Refunds"},{'url' :"\/pages\/privacy-policy", 'title': "Privacy Policy"},{'url' :"\/pages\/terms-of-service", 'title': "Terms \u0026 Conditions"},{'url' :"\/pages\/warranty", 'title': "Warranty"}],"help": [{'url' :"\/pages\/trade-program", 'title': "Trade Program"},{'url' :"\/pages\/unidays", 'title': "UNiDAYS"},{'url' :"\/pages\/zippay", 'title': "Zip"},{'url' :"\/pages\/afterpay", 'title': "Afterpay"},{'url' :"\/pages\/klarna", 'title': "Klarna"}],"blog-menu": [{'url' :"\/blogs\/article", 'title': "All"},{'url' :"\/blogs\/article", 'title': "Tips"},{'url' :"\/blogs\/article", 'title': "Design Trends"},{'url' :"\/blogs\/article", 'title': "Style"}]}
		window.gmml = false;
  		window.GloboMenuConfig.themes = {"123411660842":{"id":123411660842,"name":"Litextension image description","role":"unpublished","theme_store_id":null},"123471396906":{"id":123471396906,"name":"DO Not Delete - Lookbook Images Assets Repository","role":"unpublished","theme_store_id":null},"123676426282":{"id":123676426282,"name":"[Boost-128789] lifely-shopify-dawn/main","role":"unpublished","theme_store_id":null,"theme_name":"Dawn","theme_version":"3.0.0"},"123932639274":{"id":123932639274,"name":"DO Not Delete - Lookbook Images Assets Repository","role":"unpublished","theme_store_id":null},"124017180714":{"id":124017180714,"name":"27/7 lifely-shopify-dawn/main","role":"unpublished","theme_store_id":null,"theme_name":"Dawn","theme_version":"3.0.0"},"124033794090":{"id":124033794090,"name":"Copy of lifely-shopify-dawn/main","role":"unpublished","theme_store_id":null,"theme_name":"Dawn","theme_version":"3.0.0"},"124044312618":{"id":124044312618,"name":"Copy of lifely-shopify-dawn/main","role":"unpublished","theme_store_id":null,"theme_name":"Dawn","theme_version":"3.0.0"},"124070527018":{"id":124070527018,"name":"next theme","role":"unpublished","theme_store_id":null,"theme_name":"Dawn","theme_version":"3.0.0"},"124126494762":{"id":124126494762,"name":"Optimized Version : lifely-shopify-dawn/main","role":"main","theme_store_id":null,"theme_name":"Dawn","theme_version":"3.0.0"},"122224279594":{"id":122224279594,"name":"lifely-shopify-dawn/main","role":"unpublished","theme_store_id":null,"theme_name":"Dawn","theme_version":"3.0.0"},"122244399146":{"id":122244399146,"name":"Dawn","role":"unpublished","theme_store_id":887},"122332119082":{"id":122332119082,"name":"ACF STORAGE THEME - DO NOT DELETE OR RENAME","role":"unpublished","theme_store_id":null},"122805387306":{"id":122805387306,"name":"Copy of lifely-shopify-dawn/main","role":"unpublished","theme_store_id":null,"theme_name":"Dawn","theme_version":"3.0.0"},"122871939114":{"id":122871939114,"name":"[Boost] Live theme with filter & search","role":"unpublished","theme_store_id":null},"122956120106":{"id":122956120106,"name":"Copy of lifely-shopify-dawn/main","role":"unpublished","theme_store_id":null,"theme_name":"Dawn","theme_version":"3.0.0"}};
		window.GloboMenuConfig.theme = window.GloboMenuConfig.themes[ Shopify.theme.id ]
		window.GloboMenuConfig.replacement = {"type":"auto","main_menu":"main-menu","mobile_menu":"main-menu"};
		window.GloboMenuConfig.settings = {"general":{"responsive":"1024","transition":"fade","transition_speed":"300","transition_delay":"150","align":"left","trigger":"hover","search":true,"indicators":true,"menu_lineheight":"50","menu_padding":"12","dropdown_lineheight":"50","tab_lineheight":"50","linklist_lineheight":"30","desktop_sticky_header":false,"mobile_sticky_header":true,"border":false,"submenu_border":false,"mobile_trigger":"click_toggle","carousel_auto_play":true,"carousel_loop":true,"mobile_border":true,"lazy_load_enable":false,"login":false,"register":false,"account":false,"logout":false,"mobile_hide_linklist_submenu":false,"atcButton":false},"font":{"menu_fontfamily_custom":true,"menu_fontfamily":"Work Sans","menu_fontfamily_2":"Gellix","menu_fontsize":"16","menu_fontweight":"500","submenu_heading_fontfamily_custom":true,"submenu_heading_fontfamily":"Work Sans","submenu_heading_fontfamily_2":"Gellix","submenu_heading_fontsize":"14","submenu_heading_fontweight":"600","submenu_text_fontfamily_custom":true,"submenu_text_fontfamily":"Work Sans","submenu_text_fontfamily_2":"Gellix","submenu_text_fontsize":"16","submenu_text_fontweight":"500","submenu_description_fontfamily_custom":false,"submenu_description_fontfamily":"Work Sans","submenu_description_fontfamily_2":"Indie Flower","submenu_description_fontsize":"12","submenu_description_fontweight":"400","tab_fontfamily_custom":true,"tab_fontfamily":"Work Sans","tab_fontfamily_2":"Gellix","tab_fontsize":"14","tab_fontweight":"500"},"color":{"menu_background":"rgba(246, 248, 244, 1)","menu_background_hover":"rgba(246, 248, 244, 1)","menu_border":"rgba(15, 15, 15, 0)","menu_text":"rgba(0, 0, 0, 1)","menu_text_hover":"rgba(107, 141, 73, 1)","submenu_background":"rgba(252, 249, 244, 1)","submenu_border":"rgba(209, 209, 209, 1)","submenu_heading":"#ae2828","submenu_text":"#313131","submenu_text_hover":"#000000","submenu_description":"#969696","submenu_description_hover":"#4d5bcd","tab_background_hover":"#d9d9d9","tab_heading_color":"#202020","tab_heading_active_color":"#000000","sale_text_color":"#ffffff","sale_background_color":"#ec523e","soldout_text_color":"#757575","soldout_background_color":"#d5d5d5","atc_text_color":"#FFFFFF","atc_background_color":"#1F1F1F","atc_background_color_hover":"#000000","atc_text_color_hover":"#FFFFFF"},"language":{"name":"Name","email":"Email","phone":"Phone Number","message":"Message","send":"Send","add_to_cart":"Add to cart","view":"View details","sale":"Sale","sold_out":"Sold out","search":"Search for..."}};
		window.GloboMenuConfig.items = [{"title":"New","url":"/pages/new-arrival","resourceType":null,"handle":null,"id":null,"level":0},{"title":"Living Room","url":"/collections/living-room-furniture","resourceType":null,"handle":null,"id":null,"level":0,"image":null,"submenu":{"type":"mega","alignment":"full","items":[{"type":"image","image":"1659013444_0.png","width":3,"title":null},{"type":"links","width":4,"submenu":{"items":[{"title":"Sofas & Lounges","url":"/collections/sofas-lounges","resourceType":"collection","handle":"sofas-lounges","id":"268629606442","targetBlank":false},{"title":"TV & Entertainment Unit","url":"https://lifely.com.au/collections/tv-and-entertainment-unit","targetBlank":false},{"title":"Recliner & Arm Chairs","url":"https://lifely.com.au/collections/recliner-and-arm-chairs","icon":null,"image":null,"description":null,"targetBlank":false},{"title":"Shoe Rack Cabinet","url":"https://lifely.com.au/collections/shoe-rack-cabinet","icon":null,"image":null,"description":null,"targetBlank":false},{"title":"Media Storage Cabinet","url":"https://lifely.com.au/collections/media-storage-cabinet","icon":null,"image":null,"description":null,"targetBlank":false}]}},{"type":"links","width":4,"submenu":{"items":[{"title":"Coffee Tables","url":"https://lifely.com.au/collections/side-coffee-tables","targetBlank":false},{"title":"Console Table","url":"https://lifely.com.au/collections/console-tables","targetBlank":false},{"title":"Display & Shelves Cabinet","url":"https://lifely.com.au/collections/display-shelves-cabinet","icon":null,"image":null,"description":null,"targetBlank":false},{"title":"View all in living room","url":"/collections/living-room-furniture","icon":null,"image":null,"description":null}]}}]}},{"title":"Bedroom","url":"/collections/bedroom-furniture","resourceType":null,"handle":null,"id":null,"level":0,"image":null,"submenu":{"type":"mega","alignment":"full","items":[{"type":"image","image":"1659013507_0.png","width":3,"title":null},{"type":"links","width":4,"submenu":{"items":[{"title":"Bed Base","url":"/collections/bed-base","targetBlank":false},{"title":"Bedside Tables","url":"https://lifely.com.au/collections/bedside-tables","targetBlank":false},{"title":"Mattresses","url":"https://lifely.com.au/collections/mattresses","icon":null,"image":null,"description":null,"targetBlank":false},{"title":"Bed Frames","url":"https://lifely.com.au/collections/bed-frames","icon":null,"image":null,"description":null,"targetBlank":false},{"title":"Chest of Drawers","url":"https://lifely.com.au/collections/chest-of-drawers","icon":null,"image":null,"description":null,"targetBlank":false}]}},{"type":"links","width":4,"submenu":{"items":[{"title":"Day Bed","url":"https://lifely.com.au/collections/daybed","icon":null,"image":null,"description":null,"targetBlank":false},{"title":"Wardrobe Armoire","url":"/collections/wardrobe-armoire","resourceType":null,"handle":null,"id":null,"targetBlank":false},{"title":"View all in Bedroom","url":"/collections/bedroom-furniture","icon":null,"image":null,"description":null}]}}]},"targetBlank":false},{"title":"Dining & Kitchen","url":"/collections/dining-room-furniture","resourceType":null,"handle":null,"id":null,"level":0,"image":null,"submenu":{"type":"mega","alignment":"full","items":[{"type":"image","image":"1659013537_0.png","width":3,"title":null},{"type":"links","width":4,"submenu":{"items":[{"title":"Sideboard Buffets","url":"/collections/sideboard-buffets","targetBlank":false},{"title":"Dining Tables","url":"/collections/dining-tables","icon":null,"image":null,"description":null,"targetBlank":false}]}},{"type":"links","width":4,"submenu":{"items":[{"title":"Dining Sets","url":"/collections/dining-sets","targetBlank":false},{"title":"Dining Chairs","url":"/collections/dining-chairs","targetBlank":false},{"title":"View all in Dining & Kitchen","url":"/collections/dining-room-furniture","icon":null,"image":null,"description":null}]}}]},"targetBlank":false},{"title":"Outdoor","url":"/collections/outdoor-furniture","resourceType":null,"handle":null,"id":null,"level":0,"image":null,"submenu":{"type":"mega","alignment":"full","items":[{"type":"image","image":"1659013591_0.png","width":3,"title":null},{"type":"links","width":4,"submenu":{"items":[{"title":"Outdoor Dining Set","url":"/collections/outdoor-dining-set","targetBlank":false},{"title":"Outdoor Sofa Lounges Set","url":"/collections/outdoor-sofa-lounges-set","targetBlank":false},{"title":"View all in Outdoor","url":"/collections/outdoor-furniture","icon":null,"image":null,"description":null}]}}]},"targetBlank":false},{"title":"Home Office","url":"/collections/home-office-furniture","resourceType":null,"handle":null,"id":null,"level":0,"image":null,"submenu":{"type":"mega","alignment":"full","items":[{"type":"image","image":"1659013612_0.png","width":3,"title":null},{"type":"links","width":4,"submenu":{"items":[{"title":"Desk","url":"/collections/desk","targetBlank":false,"active":false},{"title":"Office Chair","url":"/collections/office-chair","targetBlank":false},{"title":"View all in Home Office","url":"/collections/home-office-furniture","icon":null,"image":null,"description":null}]}}]},"targetBlank":false},{"title":"Baby & Kids","url":"/collections/kids-furniture","resourceType":null,"handle":null,"id":null,"level":0,"image":null,"submenu":{"type":"mega","alignment":"full","items":[{"type":"image","image":"1659013632_0.png","width":3,"title":null},{"type":"links","width":4,"submenu":{"items":[{"title":"Baby Cot","url":"/collections/baby-cot","targetBlank":false},{"title":"Kids Bed Frame","url":"/collections/kids-bed-frame","targetBlank":false},{"title":"View all in Baby & Kids","url":"/collections/kids-furniture","icon":null,"image":null,"description":null}]}}]},"targetBlank":false},{"title":"Sale","url":"/pages/clearance","resourceType":null,"handle":null,"id":null,"level":0,"targetBlank":false}];
		window.GloboMenuConfig.is_app_embedded = true;
		window.GloboMenuConfig.isMultiCurrency = false;
		window.hasMegamenu = false;
		window.GloboMenuConfig.hasCarousel = false;window.GloboMenuConfig.collections['sofas-lounges'] = {handle:"sofas-lounges",title:"Sofas \u0026 Lounges"};
	</script>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400');
		.gm-owlcarousel-outer{
			max-width: 100%;
		}
		@media (max-width: 575px){
			[class*=gmcol-]{
				-ms-flex: 0 0 100% !important;
				flex: 0 0 100% !important;
				max-width: 100% !important;
			}
		}
		.gm-menu-installed .gm-menu {
			line-height: 1.4;
			background-color: rgba(246, 248, 244, 1) !important;
			color: #313131;
			font-family: "Gellix", sans-serif;
			font-size: 16px;
		}
		.gm-menu-installed .gm-menu.gm-bordered:not(.gm-menu-mobile) > .gm-level-0 + .gm-level-0 {
			border-left: 1px solid rgba(15, 15, 15, 0) !important;
		}
		.gm-menu-installed .gm-menu.gm-mobile-bordered.gm-menu-mobile > .gm-level-0 + .gm-level-0:not(.searchItem){
			border-top: 1px solid rgba(15, 15, 15, 0) !important;
		}
		.gm-menu-installed .gm-item.gm-level-0 > .gm-target > .gm-text{
			font-family: "Gellix", sans-serif !important;
		}
		.gm-menu-installed .gm-menu .gm-item.gm-level-0 > .gm-target{
			padding: 15px 12px !important;
			color: rgba(0, 0, 0, 1) !important;
			font-family: "Gellix", sans-serif !important;
			font-size: 16px !important;
			font-weight: 500 !important;
			font-style: normal !important;
			line-height: 20px !important;
		}
		.gm-submenu.gm-search-form input{
			line-height: 40px !important;
		}
		.gm-menu-installed .gm-menu .gm-item.gm-level-0.gm-active > .gm-target,
		.gm-menu-installed .gm-menu .gm-item.gm-level-0:hover > .gm-target{
			background-color: rgba(246, 248, 244, 1) !important;
			color: rgba(107, 141, 73, 1) !important;
		}
		.gm-menu-installed .gm-menu .gm-item.gm-level-0 > .gm-target > .gm-icon,
		.gm-menu-installed .gm-menu .gm-item.gm-level-0 > .gm-target > .gm-text,
		.gm-menu-installed .gm-menu .gm-item.gm-level-0 > .gm-target > .gm-retractor{
			color: rgba(0, 0, 0, 1) !important;
			font-size: 16px !important;
			font-weight: 500 !important;
			font-style: normal !important;
			line-height: 20px !important;
		}
		.gm-menu-installed .gm-menu .gm-item.gm-level-0.gm-active > .gm-target > .gm-icon,
		.gm-menu-installed .gm-menu .gm-item.gm-level-0.gm-active > .gm-target > .gm-text,
		.gm-menu-installed .gm-menu .gm-item.gm-level-0.gm-active > .gm-target > .gm-retractor,
		.gm-menu-installed .gm-menu .gm-item.gm-level-0:hover > .gm-target > .gm-icon,
		.gm-menu-installed .gm-menu .gm-item.gm-level-0:hover > .gm-target > .gm-text,
		.gm-menu-installed .gm-menu .gm-item.gm-level-0:hover > .gm-target > .gm-retractor{
			color: rgba(107, 141, 73, 1) !important;
		}
		.gm-menu-installed .gm-submenu.gm-submenu-bordered:not(.gm-aliexpress) {
			border: 1px solid rgba(209, 209, 209, 1) !important;
		}
		.gm-menu-installed .gm-menu-mobile .gm-tabs > .gm-tab-links > .gm-item{
			border-top: 1px solid rgba(209, 209, 209, 1) !important;
		}
		.gm-menu-installed .gm-menu .gm-tab-links > .gm-item.gm-active > .gm-target{
			background-color: #d9d9d9 !important;
		}
		.gm-menu-installed .gm-menu .gm-submenu.gm-mega,
		.gm-menu-installed .gm-menu .gm-submenu.gm-search-form,
		.gm-menu-installed .gm-menu .gm-submenu-aliexpress .gm-tab-links,
		.gm-menu-installed .gm-menu .gm-submenu-aliexpress .gm-tab-content {
			background-color: rgba(252, 249, 244, 1) !important;
		}
		.gm-menu-installed .gm-menu .gm-submenu-bordered .gm-tabs-left > .gm-tab-links {
			border-right: 1px solid rgba(209, 209, 209, 1) !important;
		}
		.gm-menu-installed .gm-menu .gm-submenu-bordered .gm-tabs-top > .gm-tab-links {
			border-bottom: 1px solid rgba(209, 209, 209, 1) !important;
		}
		.gm-menu-installed .gm-menu .gm-submenu-bordered .gm-tabs-right > .gm-tab-links {
			border-left: 1px solid rgba(209, 209, 209, 1) !important;
		}
		.gm-menu-installed .gm-menu .gm-tab-links > .gm-item > .gm-target,
		.gm-menu-installed .gm-menu .gm-tab-links > .gm-item > .gm-target > .gm-text{
			font-family: "Gellix", sans-serif;
			font-size: 14px;
			font-weight: 500;
			font-style: normal;
		}
		.gm-menu-installed .gm-menu .gm-tab-links > .gm-item > .gm-target > .gm-icon{
			font-size: 14px;
		}
		.gm-menu-installed .gm-menu .gm-tab-links > .gm-item > .gm-target,
		.gm-menu-installed .gm-menu .gm-tab-links > .gm-item > .gm-target > .gm-text,
		.gm-menu-installed .gm-menu .gm-tab-links > .gm-item > .gm-target > .gm-retractor,
		.gm-menu-installed .gm-menu .gm-tab-links > .gm-item > .gm-target > .gm-icon{
			color: #202020 !important;
		}
		.gm-menu-installed .gm-menu .gm-tab-links > .gm-item.gm-active > .gm-target,
		.gm-menu-installed .gm-menu .gm-tab-links > .gm-item.gm-active > .gm-target > .gm-text,
		.gm-menu-installed .gm-menu .gm-tab-links > .gm-item.gm-active > .gm-target > .gm-retractor,
		.gm-menu-installed .gm-menu .gm-tab-links > .gm-item.gm-active > .gm-target > .gm-icon{
			color: #000000 !important;
		}
		.gm-menu-installed .gm-menu .gm-dropdown {
			background-color: rgba(252, 249, 244, 1) !important;
		}
		.gm-menu-installed .gm-menu .gm-dropdown > li > a {
			line-height: 20px !important;
		}
		.gm-menu-installed .gm-menu .gm-tab-links > li > a {
			line-height: 20px !important;
		}
		.gm-menu-installed .gm-menu .gm-links > li:not(.gm-heading) > a {
			line-height: 20px !important;
		}
		.gm-html-inner,
		.gm-menu-installed .gm-menu .gm-submenu .gm-item .gm-target {
			color: #313131 !important;
			font-family: "Gellix", sans-serif !important;
			font-size: 16px !important;
			font-weight: 500 !important;
			font-style: normal !important;
		}
		.gm-menu-installed .gm-menu .gm-submenu .gm-item .gm-heading {
			color: #ae2828 !important;
			font-family: "Gellix", sans-serif !important;
			font-size: 14px !important;
			font-weight: 600 !important;
			font-style: normal !important;
			display: block;
		}
		.gm-menu-installed .gm-menu .gm-submenu .gm-item .gm-heading .gm-target {
			color: #ae2828 !important;
			font-family: "Gellix", sans-serif !important;
			font-size: 14px !important;
			font-weight: 600 !important;
			font-style: normal !important;
		}
		.gm-menu-installed .gm-menu .gm-submenu .gm-target:hover,
		.gm-menu-installed .gm-menu .gm-submenu .gm-target:hover .gm-text,
		.gm-menu-installed .gm-menu .gm-submenu .gm-target:hover .gm-icon,
		.gm-menu-installed .gm-menu .gm-submenu .gm-target:hover .gm-retractor {
			color: #000000 !important;
		}
		.gm-menu-installed .gm-menu .gm-submenu .gm-target:hover .gm-price {
			color: #313131 !important;
		}
		.gm-menu-installed .gm-menu .gm-submenu .gm-target:hover .gm-old-price {
			color: #969696 !important;
		}
		.gm-menu-installed .gm-menu .gm-submenu .gm-target:hover > .gm-text > .gm-description {
		color: #4d5bcd !important;
		}
		.gm-menu-installed .gm-menu .gm-submenu .gm-item .gm-description {
			color: #969696 !important;
			font-family: "Work Sans", sans-serif !important;
			font-size: 12px !important;
			font-weight: 400 !important;
			font-style: normal !important;
		}
		.gm-single-product>.gm-target .gm-label.gm-sale-label{
			color: #ffffff !important;
			background: #ec523e !important;
		}
		.gm-single-product>.gm-target .gm-label.gm-sold_out-label{
			color: #757575 !important;
			background: #d5d5d5 !important;
		}
		.theme_store_id_411.gm-menu-installed .mobile-menu--wrapper .gm-menu {
			display: block;
		}
		.theme_store_id_411 .mobile-menu--wrapper ul li a {
			border: none;
			padding: 0;
		}
		.theme_store_id_141 .shifter-navigation input#q {
			margin-left: 0;
			width: `100%;
		}
		@media only screen and (min-width: 769px) {
			.theme_store_id_687.gm-menu-installed .wsmenu {
				padding: 6px 0;
			}
		}
		.theme_store_id_304 ul li {
			list-style-type: none !important;
		}
		@media only screen and (min-width: 768px) {
			.theme_store_id_304 #gm_mobile_nav {
				display: none !important;
			}
		}
		@media only screen and (max-width: 767px) {
			.theme_store_id_304 #gm_desktop_nav {
				display: none !important;
			}
			.theme_store_id_304 #gm_mobile_nav .slicknav_menu a.slicknav_btn {
				text-align: center;
			}
		}
		.theme_store_id_601.gm-menu-installed .gm-level-0 > a.icon-cart.cart-button {
			padding: 8.5px !important;
		}
		.theme_store_id_601.gm-menu-installed .gm-level-0 >a.icon-account,
		.theme_store_id_601.gm-menu-installed .gm-level-0 >a.icon-search {
			color: rgba(0, 0, 0, 1) !important;
			padding: 15px !important;
		}
		.theme_store_id_601.nav ul li .cart-button span {
			padding-bottom: 0;
		}
		.theme_store_id_601 #nav .gm-level-0 > a,
		.theme_store_id_601 #nav .gm-level-0 > select.currencies {
			color: rgba(0, 0, 0, 1) !important;
		}
		.theme_store_id_601 #nav .gm-level-0 > select.currencies > option {
			background-color: rgba(246, 248, 244, 1) !important;
		}
		@media only screen and (max-width: 740px) {
			.theme_store_id_567 #gm_desktop_nav {
				display: none !important;
			}
		}
		.theme_store_id_801 #shopify-section-header {
			position: relative;
			z-index: 2;
		}
		.gm-menu-installed .gm-menu > .gm-level-0.gm-theme-li > a {
			color: rgba(0, 0, 0, 1) !important;
			font-family: "Gellix", sans-serif !important;
			font-size: 16px !important;
		}
		@media screen and (min-width: 1024px) {
			.theme_store_id_849 .site-header.is-standard.header--no-bg {
				top: 32px;
			}
		}
		.theme_store_id_842 .site-header img {
			max-height: 100%;
		}
		.theme_store_id_842 .site-nav.style--sidebar .primary-menu li {
			margin-bottom: 0;
		}
		@media only screen and (min-width: 768px) {
			.theme_store_id_863 .gm-menu.mobile-site-nav {
				display: none !important;
			}
			.theme_store_id_863 .gm-menu.site-nav {
				overflow-x: unset;
			}
		}
		@media only screen and (max-width: 767px) {
			.theme_store_id_863 .gm-menu.site-nav {
				display: none !important;
			}
		}
		.theme_store_id_464 .nav ul.gm-grid li.gm-item,
		.theme_store_id_464 .nav ul li.gm-item.gm-level-1 {
			display: block;
		}
		.theme_store_id_464 .gm-theme-search form.search {
			margin-top: 10px;
			margin-right: 10px;
			margin-bottom: 10px;
			margin-left: 10px;
		}
		.theme_store_id_464 .gm-theme-search form.search .search_box {
			width: 100% !important;
		}
		.theme_store_id_677 .gm-nav-677 {
			margin-top: 50px;
			margin-bottom: 20px;
		}
		.theme_store_id_57 .gm-top-menu-57 {
			margin-top: 20px;
		}
		.theme_store_id_57 #side-menu ul {
			margin: 0;
		}
		.theme_store_id_57 #side-menu .gm-theme-li.has-sub a.newfont {
			background-color: unset;
			background-image: none;
			border-radius: 0;
		}
		.theme_store_id_57 #side-menu .gm-theme-li.has-sub .top-link:after {
			right: 20px;
		}
		.theme_store_id_57.gm-menu-installed #sidebar .gm-menu {
			z-index: 998;
		}
		.js .theme_store_id_57 #side-menu ul.gm-grid {
			display: flex;
			margin: 0;
		}
		.theme_store_id_57 #side-menu ul.gm-grid {
			background: unset;
		}
		.theme_store_id_57 #side-menu ul ul a {
			padding-left: 0;
		}
		.theme_store_id_57 #side-menu ul a {
			border-bottom: 0;
			padding: 0;
		}
		.theme_store_id_450 .mainnav a {
			margin: 0;
			border: none;
		}
		.theme_store_id_793 .gm-menu {
			margin: 17px 0;
		}
		@media screen and (min-width: 1020px) {
			.theme_store_id_793 nav ul.gm-links {
				display: block;
			}
		}
		.theme_store_id_793 .header-drawer .gm-menu {
			margin: 75px 0;
		}
		@media screen and (max-width: 720px) {
			.theme_store_id_793 .header-drawer .gm-menu {
				margin: 30px 0 60px;
			}
		}
		.theme_store_id_705 .navigation .gm-menu li a,
		.theme_store_id_705 .navigation .gm-menu li .tier-toggle-wrap {
			border-top: none !important;
			background: transparent !important;
		}
		@media screen and (max-width: 1020px) {
			.theme_store_id_705 .navigation.processed.mobile-visible {
				overflow: unset !important;
			}
			.theme_store_id_705 .navigation.processed.mobile-visible ul {
				height: auto !important;
			}
		}
		@media only screen and (min-width: 990px) {
			.theme_store_id_859 .gm-nav-859 {
				display: block;
				margin-top: 2.5rem;
			}
		}
		@media only screen and (max-width: 989px) {
			.theme_store_id_859 .gm-nav-859 {
				display: none;
			}
		}
		@media only screen and (max-width: 639px) {
			.theme_store_id_587 .gm-menu {
				display: none;
			}
		}
		.theme_store_id_816 .gm-menu {
			margin-right: 30px;
		}
		.theme_store_id_777 .drawer a, .drawer h3, .drawer .h3 {
			color: rgba(0, 0, 0, 1) !important;
		}
		.theme_store_id_777 .mobile-nav__link h3, .mobile-nav__link .h3 {
			margin-top: 0;
			margin-bottom: 0;
		}
		.theme_store_id_790 .main-navigation .gm-submenu li.gm-heading {
			display: block;
		}
		.gm-menu-installed.theme_store_id_732 .logo-nav .gm-item.gm-level-0 > .logo {
			margin: 0;
		}
		.theme_store_id_790 .main-navigation .gm-submenu li.gm-item {
			display: block;
		}
		.theme_store_id_790 .site-header div {
			text-align: unset;
		}
		@media only screen and (min-width: 1025px) {
			.theme_store_id_853 .gm-nav-853 {
				position: relative;
				display: block;
				width: 100%;
			}
		}
		@media only screen and (max-width: 1024px) {
			.theme_store_id_853 .gm-nav-853 {
				display: none;
			}
		}
		.theme_store_id_808 .navigation-menu a {
			margin: 0;
		}
		@media only screen and (min-width: 768px) {
			.theme_store_id_457 .mobile-nav-dropdown-container .gm-menu {
				display: none;
			}
		}
		.theme_store_id_230 #navblock .gm-menu{
			position: static
		}
		.gm-menu-installed #SiteNavParent .gm-menu#SiteNav{
			z-index: 9;
		}
		@media only screen and (min-width: 768px) {
			.theme_store_id_230 .gm-nav-230 {
				position: relative;
				display: block;
				width: 100%;
			}
		}
		@media only screen and (max-width: 767px) {
			.theme_store_id_230 .gm-nav-230 {
				display: none;
			}
		}
		@media only screen and (min-width: 48em) {
			.theme_store_id_714 .menu--desktop .menu__link {
				opacity: 1;
			}
		}
		.theme_store_id_714.gm-menu-installed .gm-level-0 > a.menu__link {
			padding: 18px 20px !important;
		}
		body.gm-menu-installed .header-item.header-item--navigation.gm-theme-Expanse > ul,
		body.gm-menu-installed .header-item.header-item--navigation.gm-theme-902 > ul{
			width: 100% !important;
		}
		body.gm-menu-installed .gm-menu.gm-menu-mobile .gm-item .gm-image .gm-jc-center {
			text-align: center !important;
		}
		.gm-product-atc input.gm-btn-atc{
			padding: 7px 15px;
			line-height: 16px;
			color: #FFFFFF !important;
			background-color: #1F1F1F !important;
			border: 1px solid #ccc;
			cursor: pointer;
			font-family: "Gellix", sans-serif !important;
			border: none !important;
			border-radius: 2px !important;
		}
		.gm-product-atc input.gm-btn-atc:hover{
			background-color: #000000 !important;
			color: #FFFFFF !important;
		}
		.gm-transition-fade .gm-item>.gm-submenu {
			-webkit-transition-duration: 300ms;
			transition-duration: 300ms;
			transition-delay: 150ms !important;
			-webkit-transition-delay: 150ms !important;
			-webkit-transition-timing-function: ease-in;
			transition-timing-function: ease-in;
			-webkit-transition-property: opacity, visibility;
			transition-property: opacity, visibility
		}
		.gm-transition-shiftup .gm-item>.gm-submenu {
			margin-top: 20px;
			-webkit-transition-duration: 300ms;
			transition-duration: 300ms;
			transition-delay: 150ms !important;
			-webkit-transition-delay: 150ms !important;
			-webkit-transition-timing-function: ease-in;
			transition-timing-function: ease-in;
			-webkit-transition-property: margin-top, opacity, visibility;
			transition-property: margin-top, opacity, visibility
		}
	</style>
</div>
<script type="lazyload2" data-src="https://cdn.shopify.com/extensions/52d8db36-156a-4d46-9b4c-87b0ac9b97b6/0.24.0/assets/globo.menu.js"></script>
<link data-href="https://cdn.shopify.com/extensions/52d8db36-156a-4d46-9b4c-87b0ac9b97b6/0.24.0/assets/globo.menu.css" rel="stylesheet" type="text/css" media="all">
{% endcomment %}