<div class="qv-product-images" style="opacity: 0"></div>
<div class="qv-content">
  <div class="holder">
    <div class="quick_view_title_section">
      <h3 class="qv-product-title"></h3>
      <span class="whislist_icon"></span>
    </div>      
    <div class="qv-star-rating"></div>
    <h5 class="qv-product-price"></h5>
    <h5 class="qv-product-original-price"></h5>
    <div class="preorder_discout_bar" style="display:none;">       
    </div>   
    <hr />
    <div class="qv-add-to-cart">
      <div class="qv-product-options"></div>
      <div class="quick_view_quantity">
        <button class="quick_quantity__button quick-qty-minus" name="minus" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-minus" fill="none" viewBox="0 0 10 2">
    			<path fill-rule="evenodd" clip-rule="evenodd" d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z" fill="currentColor">
			</path></svg>
        </button>
         <input type="number" class="qv-quantity" value="1" min="1">
        <button class="quantity__button no-js-hidden qty-plus" name="plus" type="button"><span class="visually-hidden">Increase quantity for Sia Metal Bed Frame</span>
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" fill="none" viewBox="0 0 10 10">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z" fill="currentColor">
            </path></svg>
        </button>        
      </div>
      <input type="submit" class="qv-add-button" value="Add to Cart">
      <div class="qv-add-to-cart-response"></div>
      <a class="view-product" href=""><span>View Full Product Details</span></a>
    </div>
  </div
</div>