<style>
  #checkout-container{
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    display: none;
    opacity:0;
  }
  .cart-sidebar-discount {
    display: flex;
    flex-direction: column;
    width:100%;
    margin-top:25px;
  }
  .discount_coupon_sec_form {
      display: flex;
      align-items: center;
  }
  .discount_coupon_sec_form input {
      margin-top: 0px !important;
  }
  .cart-sidebar-discount input {
      margin-top: 20px;
      background: #eee;
      border: 1px solid #eee;
      height: 45px;
      outline: none;
      font-size: 16px;
      letter-spacing: .75px;
      text-align: left;
      padding: 4px 12px;
      line-height: 15px;
  }
  #apply-discount-btn {
    background-color: #000;
    color:#fff;
    border: 0;
    height: 45px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .75px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  span.discount-code-value>small {
    background: #eee;
    padding: 0px 10px;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
  }
  small.discount-error-msg {
    color: #e22120;
    position: relative;
    font-size: 15px;
  }
  .discount_coupon_sec_form {
      display: flex;
      align-items: center;
      column-gap: 11px;
  }
  .loader{
    border: 5px solid #f3f3f3;
    border-top: 4px solid #000;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin .5s linear infinite;
  }
  .discount_copon_code_value.totals p {
      color: #ce2a1e !important;
  }
  .cart-sidebar-discount span.discount-code-value > span {
      display: inline-block;
      align-items: center;
      border: 1px solid #eee;
      border-radius: 8px;
      font-size: 14px;
      background: #eee;
      margin-top: 12px;
      padding: 7px 13px;
  }
  .cart-sidebar-discount span.discount-code-value span.dcIcon {
      display: inline-block;
      margin-right: 10px;
      width: 16px;
  }
  .cart-sidebar-discount span.discount-code-value button.removeDiscount {
      border: navajowhite;
      background: transparent;
  }
  .discount_copon_code_value.totals:empty {
      display: none;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>

<div class="cart-sidebar-discount">
  <span id="discount-code-status"></span>
  <div class="discount_coupon_sec_form">
    {% assign origenal_cart_total = cart.original_total_price | money_without_currency %}
    <input type="text" id="discount-code" autocomplete="off" placeholder="Discount code" data-orr="{{ origenal_cart_total }}">
    <button id="apply-discount-btn">APPLY</button>
  </div>
  <span class="discount-code"><span class="discount-code-value"></span></span>
</div>

<script>
  let applyBtn = document.querySelector("#apply-discount-btn");
  let removeCoupon = document.querySelector(".removeDiscount");
  let discountCodeStatus = document.querySelector("#discount-code-status");
  let checkoutContainer = document.createElement('div');
  let discountCode = document.querySelector(".discount-code .discount-code-value");
  let discountCodeInput = document.querySelector("#discount-code");
  let discountcoponValue = document.querySelector(".discount_copon_code_value");
  let totalCart_price = document.querySelector(".totals__subtotal-value_").getAttribute('data-price').split(',').join('');
  let totalCart = document.querySelector("#totals__subtotal-value_") // Total Cart Selector to update the total ammount. 
  checkoutContainer.id = "checkout-container";
  document.body.appendChild(checkoutContainer); 
  
  
  if(discountCodeInput.getAttribute('data-orr').replace(/,/g, '') >= 750){
    discountCodeInput.disabled = true;
    applyBtn.disabled = true;
  }
  
  
  if (localStorage.discountCode) applyDiscount(localStorage.discountCode, "a")
  applyBtn.addEventListener("click", function(e){ 
      if(discountCodeInput.value != '' && discountCodeInput.value != null && discountCodeInput.value != 'undefiend'){
        applyDiscount(discountCodeInput.value, "m");
        applyBtn.innerHTML += "<div class='loader'></div>";
        applyBtn.style.pointerEvents = "none";
      }
  });
   
   
  function applyDiscount(code, action) {
    let discountApplyUrl = window.location.href+"/checkout?discount="+code+"&t="+Date.now();
    fetch(discountApplyUrl)
    .then(function(response) {
      return response.text();
    }).then(function(data) {
      let discountError = data.match('id="error-for-reduction_code"');
      let shipping_charges = document.querySelector(".postcode-check-wrapper .postcode-inner-grid p span#wrapper-response").getAttribute('data-price');
      checkoutContainer.innerHTML = data;
      let summary = checkoutContainer.querySelector(".sidebar");
      let total = checkoutContainer.querySelector(".payment-due__price").textContent.trim();
      let original_price_total = checkoutContainer.querySelector(".payment-due__price").getAttribute('data-checkout-payment-due-target');
      let converted_price_ = (original_price_total/100).toFixed(2).split(',').join('');
      if(discountError){
        let discountErrorMsg = summary.querySelector(".field__message.field__message--error").textContent.replace(" or gift card", ".");
        console.log(discountErrorMsg);
        discountCodeStatus.innerHTML = "<small class='discount-error-msg'>" + discountErrorMsg + "</small>";
        discountCodeInput.style.border = "1px solid red";
        checkoutContainer.innerHTML = "";
        applyBtn.style.pointerEvents = "auto";  
        applyBtn.innerHTML = "APPLY";
      }else{
        discountCodeInput.style.border = "";
        discountCode.innerHTML = '<span><span class="dcIcon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"><path d="M17.78 3.09C17.45 2.443 16.778 2 16 2h-5.165c-.535 0-1.046.214-1.422.593l-6.82 6.89c0 .002 0 .003-.002.003-.245.253-.413.554-.5.874L.738 8.055c-.56-.953-.24-2.178.712-2.737L9.823.425C10.284.155 10.834.08 11.35.22l4.99 1.337c.755.203 1.293.814 1.44 1.533z" fill-opacity=".55"></path><path d="M10.835 2H16c1.105 0 2 .895 2 2v5.172c0 .53-.21 1.04-.586 1.414l-6.818 6.818c-.777.778-2.036.782-2.82.01l-5.166-5.1c-.786-.775-.794-2.04-.02-2.828.002 0 .003 0 .003-.002l6.82-6.89C9.79 2.214 10.3 2 10.835 2zM13.5 8c.828 0 1.5-.672 1.5-1.5S14.328 5 13.5 5 12 5.672 12 6.5 12.672 8 13.5 8z"></path></svg></span><span>'+code.trim()+'</span><button type="button" class="removeDiscount" onclick="removeCouponcart(this)" focusable="false">×</button></span>';
        localStorage.setItem("discountCode", code.trim());
        discountCodeStatus.innerHTML = ""
        discountCodeInput.value = '';

        applyBtn.style.pointerEvents = "auto";
        console.log('pppppppp');
        console.log(converted_price_);
        console.log(totalCart_price);
        if(converted_price_ < totalCart_price){
          let descount_price = (totalCart_price - converted_price_).toFixed(2);
          discountcoponValue.innerHTML = '<h3 class="discount__subtotal_lable" id="discount__subtotal_lable">Discount</h3><p class="discount__subtotal_value" id="discount__subtotal_value" data-price="'+descount_price+'">- $'+descount_price+'</p>';
        }else{
          discountcoponValue.innerHTML = '';
        }
        if(shipping_charges == '' || shipping_charges == null || shipping_charges == 'undefiend'){
          shipping_charges = 0;
        }
        total = (parseFloat(converted_price_) + parseFloat(shipping_charges)).toFixed(2);  
        totalCart.innerHTML = '$'+total+' AUD';
        checkoutContainer.innerHTML = "";
        applyBtn.innerHTML = "APPLY";
        var afterpay_price =  (parseFloat(total)/4).toFixed(2);
        document.querySelector('.product_payement_logo span:first-child').innerHTML = '$'+afterpay_price+' AUD fornightly with: ';
      }
      
    });
  }

  function removeCouponcart(id){
     //applyDiscount('', "m");
     localStorage.removeItem("discountCode");
     let shipping_charges = document.querySelector(".postcode-check-wrapper .postcode-inner-grid p span#wrapper-response").getAttribute('data-price');
     let total = (parseFloat(totalCart_price) + parseFloat(shipping_charges)).toFixed(2);  
     totalCart.innerHTML = '$'+total+' AUD';
     discountCode.innerHTML = ' ';
     discountcoponValue.innerHTML = '';
     var afterpay_price =  (parseFloat(total)/4).toFixed(2);
      document.querySelector('.product_payement_logo span:first-child').innerHTML = '$'+afterpay_price+' AUD fornightly with: ';
  }
</script>