{% if section.settings.afterpay_heading != blank or section.settings.afterpay_subheading != blank or section.blocks != blank %}

<div class="afterpay-content-grid">
  <div class="container">
    <div class="acontent-inner">
      {% if section.settings.afterpay_heading != blank or section.settings.afterpay_subheading != blank %}
        <div class="heading-grid">
            {% if section.settings.afterpay_heading != blank %}
              <h1>{{section.settings.afterpay_heading}}</h1>
            {% endif %}
            {% if section.settings.afterpay_subheading != blank %}
              <h3>{{section.settings.afterpay_subheading}}</h3>
            {% endif %}
        </div>
      {% endif %}
      {% if section.blocks != blank %}
        <div class="icon-grid-wrap">
          {% for block in section.blocks %}
            {% if block.settings.icon_image != blank and block.settings.icon_text != blank %}
                <div class="icon-grid">
                    <div class="icon-img">
                      <img src="{{block.settings.icon_image | img_url: 'master'}}" alt="Icon">
                    </div>
                    <div class="icon-text">
                        <h4>{{block.settings.icon_text}}</h4>
                    </div>
                </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %} 
    </div>
  </div>
</div>

{% endif%}

{% schema %}
  {
    "name": "After Pay Content",
    "settings": [
       {
        "type": "text",
        "id": "afterpay_heading",
        "label": "Heading"    
       },
       {
        "type": "textarea",
        "id": "afterpay_subheading",
        "label": "Sub Heading"    
       }  
	],
    "blocks": [
      {
        "type": "afterpay-icon-grid",
        "name": "Afterpay Grid",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon_image",
            "label": "Icon image"    
           },
          {
            "type": "text",
            "id": "icon_text",
            "label": "Icon Text"    
           }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}