<div class="compare-section">
  <div class="container">
  {% if section.settings.compare_heading != blank or section.settings.compare_subheading != '' %}
  <div class="heading-grid text-center">
    <h3>{{section.settings.compare_heading}}</h3>
    <h5>{{section.settings.compare_subheading}}</h5>
  </div>
  {% endif %}  
  <div class="compare-inner-grid desktop_compair_section">
    <div class="compare-desktop">
      	<div class="comp-flex-inner">
            <ul>
              <li>
                <span></span>
                <span>Queen price from</span>
                <span>Overall rating</span>
                <span>Comfort</span>
                <span>Spinal support</span>
                <span>Build quality</span>
                <span>Partner disturbance</span>
                <span>Value for money</span>
                <span>Warranty</span>
              </li>	
			  <li>
                <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/Deep_Dream.png?v=1647262429" alt="brand-logo"></span>
                <span>$499</span>
                <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/1.png?v=1647263118"></span>
                <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/6.png?v=1647263118"></span>
                <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/3.png?v=1647263118"></span>
                <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/3.png?v=1647263118"></span>
                <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/5.png?v=1647263118"></span>
                <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/2.png?v=1647263422"></span>
                <span>20 Years</span>
              </li>		 
              <li>
                <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/Koala.png?v=1647262460" alt="brand-logo"></span>
                <span>$1050</span>
                <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/4.png?v=1647263118"></span>
                <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/5.png?v=1647263118"></span>
                <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/4.png?v=1647263118"></span>
                <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/7.png?v=1647263118"></span>
                <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/1.png?v=1647263118"></span>
                <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/8.png?v=1647263118"></span>
                <span>10years </span>
              </li>	
              <li>
               <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/Ecosa.png?v=1647262473" alt="brand-logo"></span>
               <span>$1099</span>
               <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/7.png?v=1647263118"></span>
               <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/7.png?v=1647263118"></span>
               <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/4.png?v=1647263118"></span>
               <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/7.png?v=1647263118"></span>
               <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/7.png?v=1647263118"></span> 
               <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/7.png?v=1647263118"></span>
               <span>15 years </span>
              </li>
              <li>
                <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/Sealy.png?v=1647262498" alt="brand-logo"></span>
                <span>$2799</span>
                <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/7.png?v=1647263118"></span>
				<span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/7.png?v=1647263118"></span>
                <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/7.png?v=1647263118"></span>
                <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/7.png?v=1647263118"></span>
                <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/8.png?v=1647263118"></span>
                <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/8.png?v=1647263118"></span>
                <span>10years </span>
              </li>
            </ul>
      	</div>
    </div>
  </div>
  </div>
  
  <div class="mobile_compair page-width" style="display:none;">
  	<div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            Deep Dream
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <i class="fa fa-minus"></i>
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
              <div class="mobile_compiar_content">
                  <div class="mobile_compiar_content_name"><span>Queen price from</span></div>
                  <div class="mobile_compiar_content_star"><span>$499</span></div>
              </div>	
              <div class="mobile_compiar_content">
                  <div class="mobile_compiar_content_name"><span>Overall rating</span></div>
                  <div class="mobile_compiar_content_star"><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/1.png?v=1647263118"></span></div>
              </div>
              <div class="mobile_compiar_content">
                  <div class="mobile_compiar_content_name"><span>Comfort</span></div>
                  <div class="mobile_compiar_content_star"><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/6.png?v=1647263118"></span></div>
              </div>
              <div class="mobile_compiar_content">
                  <div class="mobile_compiar_content_name"><span>Spinal support</span></div>
                  <div class="mobile_compiar_content_star"><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/3.png?v=1647263118"></span></div>
              </div>
              <div class="mobile_compiar_content">
                  <div class="mobile_compiar_content_name"><span>Build quality</span></div>
                  <div class="mobile_compiar_content_star"><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/3.png?v=1647263118"></span></div>
              </div>
              <div class="mobile_compiar_content">
                  <div class="mobile_compiar_content_name"><span>Partner disturbance</span></div>
                  <div class="mobile_compiar_content_star"><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/5.png?v=1647263118"></span></div>
              </div>
              <div class="mobile_compiar_content">
                  <div class="mobile_compiar_content_name"><span>Value for money</span></div>
                  <div class="mobile_compiar_content_star"><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/6.png?v=1647263118" alt="brand-logo"></span></div>
              </div>
              <div class="mobile_compiar_content">
                  <div class="mobile_compiar_content_name"><span>Warranty</span></div>
                  <div class="mobile_compiar_content_star"><span>20 Years</span></div>
              </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            Koala
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
               <i class="fa fa-plus"></i>
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <div class="mobile_compiar_content">
                <div class="mobile_compiar_content_name"><span>Queen price from</span></div>
                <div class="mobile_compiar_content_star"><span>$1050</span></div>
            </div>	
            <div class="mobile_compiar_content">
                <div class="mobile_compiar_content_name"><span>Overall rating</span></div>
                <div class="mobile_compiar_content_star"><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/4.png?v=1647263118"></span></div>
            </div>
            <div class="mobile_compiar_content">
                <div class="mobile_compiar_content_name"><span>Comfort</span></div>
                <div class="mobile_compiar_content_star"><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/5.png?v=1647263118"></span></div>
            </div>
            <div class="mobile_compiar_content">
                <div class="mobile_compiar_content_name"><span>Spinal support</span></div>
                <div class="mobile_compiar_content_star"><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/4.png?v=1647263118"></span></div>
            </div>
            <div class="mobile_compiar_content">
                <div class="mobile_compiar_content_name"><span>Build quality</span></div>
                <div class="mobile_compiar_content_star"><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/7.png?v=1647263118"></span></div>
            </div>
            <div class="mobile_compiar_content">
                <div class="mobile_compiar_content_name"><span>Partner disturbance</span></div>
                <div class="mobile_compiar_content_star"><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/1.png?v=1647263118"></span></div>
            </div>
            <div class="mobile_compiar_content">
                <div class="mobile_compiar_content_name"><span>Value for money</span></div>
                <div class="mobile_compiar_content_star"><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/8.png?v=1647263118" alt="brand-logo"></span></div>
            </div>
            <div class="mobile_compiar_content">
                <div class="mobile_compiar_content_name"><span>Warranty</span></div>
                <div class="mobile_compiar_content_star"><span>10 Years</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            Ecosa
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <i class="fa fa-plus"></i>
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <div class="mobile_compiar_content">
              <div class="mobile_compiar_content_name"><span>Queen price from</span></div>
              <div class="mobile_compiar_content_star"><span>$1099</span></div>
          </div>	
          <div class="mobile_compiar_content">
              <div class="mobile_compiar_content_name"><span>Overall rating</span></div>
              <div class="mobile_compiar_content_star"><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/7.png?v=1647263118"></span></div>
          </div>
          <div class="mobile_compiar_content">
              <div class="mobile_compiar_content_name"><span>Comfort</span></div>
              <div class="mobile_compiar_content_star"><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/7.png?v=1647263118"></span></div>
          </div>
          <div class="mobile_compiar_content">
              <div class="mobile_compiar_content_name"><span>Spinal support</span></div>
              <div class="mobile_compiar_content_star"><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/4.png?v=1647263118"></span></div>
          </div>
          <div class="mobile_compiar_content">
              <div class="mobile_compiar_content_name"><span>Build quality</span></div>
              <div class="mobile_compiar_content_star"><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/7.png?v=1647263118"></span></div>
          </div>
          <div class="mobile_compiar_content">
              <div class="mobile_compiar_content_name"><span>Partner disturbance</span></div>
              <div class="mobile_compiar_content_star"><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/7.png?v=1647263118"></span></div>
          </div>
          <div class="mobile_compiar_content">
              <div class="mobile_compiar_content_name"><span>Value for money</span></div>
              <div class="mobile_compiar_content_star"><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/7.png?v=1647263118" alt="brand-logo"></span></div>
          </div>
          <div class="mobile_compiar_content">
              <div class="mobile_compiar_content_name"><span>Warranty</span></div>
              <div class="mobile_compiar_content_star"><span>15 Years</span></div>
          </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingfour">
          <h5 class="mb-0">
            Sealy
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapseThree">
              <i class="fa fa-plus"></i>
            </button>
          </h5>
        </div>
        <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
          <div class="card-body">
            <div class="mobile_compiar_content">
                <div class="mobile_compiar_content_name"><span>Queen price from</span></div>
                <div class="mobile_compiar_content_star"><span>$2799</span></div>
            </div>	
            <div class="mobile_compiar_content">
                <div class="mobile_compiar_content_name"><span>Overall rating</span></div>
                <div class="mobile_compiar_content_star"><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/7.png?v=1647263118"></span></div>
            </div>
            <div class="mobile_compiar_content">
                <div class="mobile_compiar_content_name"><span>Comfort</span></div>
                <div class="mobile_compiar_content_star"><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/7.png?v=1647263118"></span></div>
            </div>
            <div class="mobile_compiar_content">
                <div class="mobile_compiar_content_name"><span>Spinal support</span></div>
                <div class="mobile_compiar_content_star"><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/7.png?v=1647263118"></span></div>
            </div>
            <div class="mobile_compiar_content">
                <div class="mobile_compiar_content_name"><span>Build quality</span></div>
                <div class="mobile_compiar_content_star"><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/7.png?v=1647263118"></span></div>
            </div>
            <div class="mobile_compiar_content">
                <div class="mobile_compiar_content_name"><span>Partner disturbance</span></div>
                <div class="mobile_compiar_content_star"><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/8.png?v=1647263118"></span></div>
            </div>
            <div class="mobile_compiar_content">
                <div class="mobile_compiar_content_name"><span>Value for money</span></div>
                <div class="mobile_compiar_content_star"><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/8.png?v=1647263118" alt="brand-logo"></span></div>
            </div>
            <div class="mobile_compiar_content">
                <div class="mobile_compiar_content_name"><span>Warranty</span></div>
                <div class="mobile_compiar_content_star"><span>10 Years</span></div>
            </div>
          </div>
        </div>
      </div>
	</div>
  </div>  
  
</div>


{% schema %}
{
  "name": "Product Compare",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "compare_heading",
      "label": "Heading"
    },
	{
      "type": "text",
      "id": "compare_subheading",
      "label": "Subheading"
    }
  ]
}
{% endschema %}
