{% if section.settings.heading != blank or section.settings.description != blank  %}
	{% style %}
		.return_contact {
            text-align: center;
            max-width: 449px;
            margin: 0 auto;
        }
        .return_contact h2 {
            font-family: 'Gellix';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            color: #282828;
			margin-bottom: 13px;
        }
        .return_contact p {
            font-family: 'Gellix';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #282828;
        }
		.return_page_email li {
            font-family: 'Gellix';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            list-style: none;
            color: #282828;
            margin-bottom: 6px;
            display: flex;
            align-items: center;
        }
		.return_page_email ul {
            max-width: 282px;
            padding: 0;
            margin: 0 auto;
        }
		.return_divider {
            margin-bottom: 50px;
        }
		.return_contact_us_section {
            padding-bottom: 50px;
        }
		.return_contact_us_section hr{
		    border-top: 1px solid #CFD0D3;
		}
		.return_page_email li span {
            margin-right: 8px;
        }
	{% endstyle %}
	<div class="return_divider">
		<div class="page-width">
      		<hr>
      	</div>  
	</div>  
	<div class="container">
		<div class="return_contact">
      		{% if section.settings.heading != blank  %}
          		<h2>{{ section.settings.heading }}</h2>          		
            {% endif %}
          	{{section.settings.description}}
      	</div> 
      	{% if section.settings.email != blank or section.settings.phone != blank  %}
          <div class="return_page_email">
            <ul>
              <li><span>{% render "icon-email-contact" %}</span> {{ section.settings.email}}</li>
              <li><span>{% render "icon-phone-contact" %}</span> {{ section.settings.phone}}</li>
            </ul>
          </div>  
      	{% endif %%}
	</div>  
{% endif %}
{% schema %}
  {
    "name": "Contact",
    "class":"return_contact_us_section",
    "settings": [
		{
			"type":"text",
			"id":"heading",
			"label":"Heading"
		},
		{
			"type":"richtext",
			"id":"description",
			"label":"Description"
		},
		{
			"type":"text",
			"id":"email",
			"label":"email"
		},
		{
			"type":"text",
			"id":"phone",
			"label":"Phone"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
