{% assign section_heading = section.settings.section_heading %}
{% assign blocks = section.blocks %}
{% if section_heading != blank or blocks.size > 0 %}
  <div class="popular-category-main">
    <div class="container">
      <div class="popular-cat-inner">
        {% if section_heading != blank %}
        	<h3 class="desktop_heding">{{section_heading}}</h3> 
        	<h3 class="mobile_heding">Other categories</h3> 
        {% endif %}
        <div class="d-flex justify-content-center popular-cat-slider-mobile">
            {% for block in blocks %}
          		{% assign index = forloop.index0 %}
          		{% if block.settings.cat_name != blank and block.settings.cat_url %}	
                  <span class="popular-cat-tags">
                    <a href="{{block.settings.cat_url}}">{{block.settings.cat_name}}</a>
                  </span>
          		{% endif %}
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Popular Category",
    "settings": [
		{
			"type":"text",
			"id":"section_heading",
			"label":"Heading"	
		}
	],
	"blocks": [
        {
          "type": "popular_cat",
          "name": "Category",
          "settings": [
            {
              "type": "text",
              "id": "cat_name",
              "label": "Title"
            },
			{
              "type": "url",
              "id": "cat_url",
              "label": "Link"
            }
          ]
        }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
