<div class="style_line_break">
  <div class="page-width"><hr></div>
</div>  
{% schema %}
  {
    "name": "Line Break"
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
