{% if section.settings.zippay_content != blank %}
<div class="zippay-comtent-wrap">
  <div class="page-width">
    {{ section.settings.zippay_content }}
  </div>
</div>

{% endif %}

{% schema %}
  {
    "name": "ZipPay Content",
    "settings": [
       {
        "type": "html",
        "id": "zippay_content",
        "label": "Zippay Content"    
       }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}