{
  "sections": {
    "clearance_banner": {
      "type": "clearance_banner",
      "settings": {
        "banner_heading": "Clearance",
        "banner_subheading": "Grab them before they’re out of stock.",
        "sale_heading": "Sale Ends 30th of April 11:59pm AEDT",
        "sale_end_date": "06\/30\/2022",
        "background": "#fca594",
        "banner_font": "#ffffff",
        "heding_image": "shopify:\/\/shop_images\/star_icon_7560b4d0-1836-4922-aa32-ac044f252861.png",
        "heding_bg_image": "shopify:\/\/shop_images\/heading_bg.png",
        "banner_bar_heading": "Only available while stocks last",
        "bar_sale_end_date": "06\/30\/2022",
        "bar_background": "#ffe47f",
        "bar_font": "#000000"
      }
    },
    "main_collection_product_grid": {
      "type": "main-collection-product-grid",
      "settings": {
        "collection_title": "",
        "collection_tag": "Clearance",
        "collection": "",
        "products_per_page": 16,
        "image_ratio": "adapt",
        "show_secondary_image": false,
        "show_vendor": false,
        "show_rating": false,
        "enable_filtering": true,
        "enable_sorting": true,
        "collapse_on_larger_devices": false,
        "padding_top": 36,
        "padding_bottom": 36
      }
    },
    "clearance_popular_category": {
      "type": "clearance-popular-category",
      "blocks": {
        "07180afa-c19e-4bd7-bcc6-0c0b05127ccf": {
          "type": "popular_cat",
          "settings": {
            "cat_name": "Bedframe",
            "cat_url": "#"
          }
        },
        "7cdca48b-124f-4be9-b486-edd8366d7f27": {
          "type": "popular_cat",
          "settings": {
            "cat_name": "Daybed",
            "cat_url": "#"
          }
        },
        "d25a62d4-ae7b-4c0c-a45c-17097dff5d88": {
          "type": "popular_cat",
          "settings": {
            "cat_name": "Chest of drawers",
            "cat_url": "#"
          }
        },
        "d025e420-da28-4754-9b1b-2aa0d24d5528": {
          "type": "popular_cat",
          "settings": {
            "cat_name": "Bed head & headboard",
            "cat_url": "#"
          }
        },
        "35a088d4-ecd6-48e7-a168-42093edc6d23": {
          "type": "popular_cat",
          "settings": {
            "cat_name": "Bed base",
            "cat_url": "#"
          }
        },
        "da5cfe2d-e09e-4134-bb49-88f6fe3ceee1": {
          "type": "popular_cat",
          "settings": {
            "cat_name": "",
            "cat_url": ""
          }
        },
        "9d70267b-ceed-4c4c-bfbe-dd543d2cfefb": {
          "type": "popular_cat",
          "settings": {
            "cat_name": "Bedside table",
            "cat_url": "#"
          }
        },
        "a0c2a221-0211-4324-9bec-3a96ce22bb88": {
          "type": "popular_cat",
          "settings": {
            "cat_name": "Wardrobes",
            "cat_url": "#"
          }
        },
        "a236268f-6887-41f3-bf3e-e110eee42032": {
          "type": "popular_cat",
          "settings": {
            "cat_name": "Storage Ottoman",
            "cat_url": "#"
          }
        },
        "3a33efda-e5ba-40e0-a641-53983bd66bca": {
          "type": "popular_cat",
          "settings": {
            "cat_name": "Dressing table",
            "cat_url": "#"
          }
        }
      },
      "block_order": [
        "07180afa-c19e-4bd7-bcc6-0c0b05127ccf",
        "7cdca48b-124f-4be9-b486-edd8366d7f27",
        "d25a62d4-ae7b-4c0c-a45c-17097dff5d88",
        "d025e420-da28-4754-9b1b-2aa0d24d5528",
        "35a088d4-ecd6-48e7-a168-42093edc6d23",
        "da5cfe2d-e09e-4134-bb49-88f6fe3ceee1",
        "9d70267b-ceed-4c4c-bfbe-dd543d2cfefb",
        "a0c2a221-0211-4324-9bec-3a96ce22bb88",
        "a236268f-6887-41f3-bf3e-e110eee42032",
        "3a33efda-e5ba-40e0-a641-53983bd66bca"
      ],
      "settings": {
        "section_heading": "Explore our popular categories"
      }
    },
    "image_with_text_new": {
      "type": "image-with-text-new",
      "blocks": {
        "015b7ce3-9811-47d1-9747-b936dd93f645": {
          "type": "text",
          "settings": {
            "icon_image": "shopify:\/\/shop_images\/Truck_bf827655-82a6-4645-8ab1-5e399ca18436.png",
            "icon_text": "Free metro shipping",
            "icon_subtext": "<p>To most metro areas Australia-wide.<\/p>"
          }
        },
        "45ea34cd-0bf3-45ea-b21f-1cd3eae17729": {
          "type": "text",
          "settings": {
            "icon_image": "shopify:\/\/shop_images\/Currency_622404f0-07a5-4b9b-862a-2a6dd570f3ff.png",
            "icon_text": "Affordable",
            "icon_subtext": "<p>We ensure quality is within your budget.<\/p>"
          }
        },
        "aa245226-2ef9-48ca-8a36-cf7de119f4db": {
          "type": "text",
          "settings": {
            "icon_image": "shopify:\/\/shop_images\/BNPL_87968872-fd6a-47d3-839e-00a2454e41fc.png",
            "icon_text": "Buy now pay later",
            "icon_subtext": "<p>Pay for it with instalments, interest free.<\/p>"
          }
        },
        "55870d5e-7abb-4ebb-b394-d0f12f22c29f": {
          "type": "text",
          "settings": {
            "icon_image": "shopify:\/\/shop_images\/Award_70a30f13-e371-4bbf-a88b-5f235dc18cf0.png",
            "icon_text": "Warranty",
            "icon_subtext": "<p>We got you covered for up to 20 years. <\/p>"
          }
        }
      },
      "block_order": [
        "015b7ce3-9811-47d1-9747-b936dd93f645",
        "45ea34cd-0bf3-45ea-b21f-1cd3eae17729",
        "aa245226-2ef9-48ca-8a36-cf7de119f4db",
        "55870d5e-7abb-4ebb-b394-d0f12f22c29f"
      ],
      "settings": {
        "layout": "image_left",
        "color_bg": "#ffffff",
        "section_class": "hide_mobile"
      }
    },
    "clearance_faq": {
      "type": "clearance-faq",
      "blocks": {
        "976a9a1f-7b8b-4d9e-adfd-0037f6f8df50": {
          "type": "faq-items",
          "settings": {
            "title": "Lorem ipsum dolor sit amet",
            "description": "<p><strong>Lorem Ipsum<\/strong>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<\/p>"
          }
        },
        "65f19d2a-9f20-401c-8c58-a8fcf9ecf3b6": {
          "type": "faq-items",
          "settings": {
            "title": "Lorem ipsum dolor sit amet",
            "description": "<p><strong>Lorem Ipsum<\/strong>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<\/p>"
          }
        },
        "b49daf1d-6daa-4ece-ad4a-65a5d3b8048a": {
          "type": "faq-items",
          "settings": {
            "title": "Lorem ipsum dolor sit amet",
            "description": "<p><strong>Lorem Ipsum<\/strong>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<\/p>"
          }
        },
        "fda2b4f5-9b77-42d6-ac6c-7915515a72f8": {
          "type": "faq-items",
          "settings": {
            "title": "Lorem ipsum dolor sit amet",
            "description": "<p><strong>Lorem Ipsum<\/strong>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<\/p>"
          }
        },
        "9bc6bbec-a619-44dc-813f-50928fa2b88c": {
          "type": "faq-items",
          "settings": {
            "title": "Lorem ipsum dolor sit amet",
            "description": "<p><strong>Lorem Ipsum<\/strong>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<\/p>"
          }
        }
      },
      "block_order": [
        "976a9a1f-7b8b-4d9e-adfd-0037f6f8df50",
        "65f19d2a-9f20-401c-8c58-a8fcf9ecf3b6",
        "b49daf1d-6daa-4ece-ad4a-65a5d3b8048a",
        "fda2b4f5-9b77-42d6-ac6c-7915515a72f8",
        "9bc6bbec-a619-44dc-813f-50928fa2b88c"
      ],
      "settings": {
        "section_headding": "Frequently asked questions",
        "section_description": "<p>If you question has not been answered you can contact us at contactemail@here and we will get back to you.<\/p>"
      }
    },
    "image_slider": {
      "type": "image-slider",
      "blocks": {
        "236e75e7-9d96-4e84-b942-4aed0923ee0f": {
          "type": "image-slide",
          "settings": {
            "icon_image": "shopify:\/\/shop_images\/Image_3_Ratio_4_3_a6ae47e9-6eab-4e76-bcb8-f2f04c34df8e.png"
          }
        },
        "5ebb3859-1bf5-4f13-a8fa-ce71adb6c122": {
          "type": "image-slide",
          "settings": {
            "icon_image": "shopify:\/\/shop_images\/image_65.png"
          }
        },
        "949e0272-5c9e-43f5-b462-1c38f680b888": {
          "type": "image-slide",
          "settings": {
            "icon_image": "shopify:\/\/shop_images\/Image_3_Ratio_4_3_a6ae47e9-6eab-4e76-bcb8-f2f04c34df8e.png"
          }
        },
        "7d8a60bf-5bad-44fc-b3fc-42602d260dfb": {
          "type": "image-slide",
          "settings": {
            "icon_image": "shopify:\/\/shop_images\/image_65.png"
          }
        },
        "e076445b-4d49-4175-bc1f-4d4ae11069ef": {
          "type": "image-slide",
          "settings": {
            "icon_image": "shopify:\/\/shop_images\/Image_3_Ratio_4_3_a6ae47e9-6eab-4e76-bcb8-f2f04c34df8e.png"
          }
        },
        "92dc9281-eae2-42e8-9ac9-4304ab4e3f60": {
          "type": "image-slide",
          "settings": {
            "icon_image": "shopify:\/\/shop_images\/image_65.png"
          }
        }
      },
      "block_order": [
        "236e75e7-9d96-4e84-b942-4aed0923ee0f",
        "5ebb3859-1bf5-4f13-a8fa-ce71adb6c122",
        "949e0272-5c9e-43f5-b462-1c38f680b888",
        "7d8a60bf-5bad-44fc-b3fc-42602d260dfb",
        "e076445b-4d49-4175-bc1f-4d4ae11069ef",
        "92dc9281-eae2-42e8-9ac9-4304ab4e3f60"
      ],
      "settings": {
        "heading": "See what others have done",
        "sub_heading": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
        "section_class": "hide_desktop"
      }
    },
    "image_with_text_new_p": {
      "type": "image-with-text-new",
      "blocks": {
        "015b7ce3-9811-47d1-9747-b936dd93f645": {
          "type": "text",
          "settings": {
            "icon_image": "shopify:\/\/shop_images\/Truck_bf827655-82a6-4645-8ab1-5e399ca18436.png",
            "icon_text": "Free metro shipping",
            "icon_subtext": "<p>To most metro areas Australia-wide.<\/p>",
            "mobile_grid_image": "shopify:\/\/shop_images\/Truck_34dabd3f-a0e7-4dfd-b777-67c11f43fb6d.png"
          }
        },
        "45ea34cd-0bf3-45ea-b21f-1cd3eae17729": {
          "type": "text",
          "settings": {
            "icon_image": "shopify:\/\/shop_images\/Currency_622404f0-07a5-4b9b-862a-2a6dd570f3ff.png",
            "icon_text": "Affordable",
            "icon_subtext": "<p>We ensure quality is within your budget.<\/p>",
            "mobile_grid_image": "shopify:\/\/shop_images\/Frame.png"
          }
        },
        "aa245226-2ef9-48ca-8a36-cf7de119f4db": {
          "type": "text",
          "settings": {
            "icon_image": "shopify:\/\/shop_images\/BNPL_87968872-fd6a-47d3-839e-00a2454e41fc.png",
            "icon_text": "Buy now pay later",
            "icon_subtext": "<p>Pay for it with instalments, interest free.<\/p>",
            "mobile_grid_image": "shopify:\/\/shop_images\/BNPL_006f45a6-2b5f-46ac-9d7d-d53b4c5319f0.png"
          }
        },
        "55870d5e-7abb-4ebb-b394-d0f12f22c29f": {
          "type": "text",
          "settings": {
            "icon_image": "shopify:\/\/shop_images\/Award_70a30f13-e371-4bbf-a88b-5f235dc18cf0.png",
            "icon_text": "Warranty",
            "icon_subtext": "<p>We got you covered for up to 20 years. <\/p>",
            "mobile_grid_image": "shopify:\/\/shop_images\/Guarantee.png"
          }
        }
      },
      "block_order": [
        "015b7ce3-9811-47d1-9747-b936dd93f645",
        "45ea34cd-0bf3-45ea-b21f-1cd3eae17729",
        "aa245226-2ef9-48ca-8a36-cf7de119f4db",
        "55870d5e-7abb-4ebb-b394-d0f12f22c29f"
      ],
      "settings": {
        "layout": "image_left",
        "color_bg": "#ffffff",
        "section_class": "hide_desktop"
      }
    }
  },
  "order": [
    "clearance_banner",
    "main_collection_product_grid",
    "clearance_popular_category",
    "image_with_text_new",
    "clearance_faq",
    "image_slider",
    "image_with_text_new_p"
  ]
}<div class='lookbook-spe-content'><div id="modmedia-lookbooks" class="list">
                                <div class="look-container"><div id="lookbook-modmedia-container">
                                Loading...
                                </div>
                    </div></div>{{ 'lookbooks-modmedia-styles.css' | asset_url | stylesheet_tag }}
                    {{ 'lookbooks-modmedia-scripts.js' | asset_url | script_tag }}
                    <script type="text/javascript">
                    var modlookbook_money_with_currency_format = "{{ shop.money_with_currency_format }}";
                    var pages_content = {'test':{{ pages.test.content | json }}};
                        var s = document.createElement("script");
                        s.type = "text/javascript";
                        s.src = "https://modapps2.com.au/lookbook/assets/templates/lifelystore.myshopify.com/mod_media_lightbox_list_a4605.js?t=1653987527";
                        document.getElementsByTagName("head")[0].appendChild(s);
                    </script></div>