<div class="single-product-content-area mb-50"> 
			<div class="container1"> 
				<div class="row1">
					<div class="col-md-12" id="_3dviewer_container" style="margin:0 auto;">
						<div class="_coohom_container">
							<div id="3dviewer" class="row">
								<div id="_3dviewertoolbar" class="default-extend-panel fullpage">
									<ul class="extend-list">
										<li id="view3" class="extend-item _topview _closed">
											<div class="extend-icon-box">
												<svg id="iconview3" viewBox="0 0 1024 1024">
													<path d="M203.52 223.085714l292.132571-146.066285a36.571429 36.571429 0 0 1 32.694858 0l292.571428 146.285714A36.571429 36.571429 0 0 1 841.142857 256v329.142857a36.571429 36.571429 0 0 1-20.224 32.694857l-292.205714 146.139429a36.205714 36.205714 0 0 1-33.389714 0l-292.242286-146.139429A36.571429 36.571429 0 0 1 182.857143 585.142857V256c0-14.994286 8.740571-27.136 20.662857-32.914286zM548.571429 672.219429l219.428571-109.714286V278.601143l-256-128L301.202286 256l227.145143 113.590857A36.571429 36.571429 0 0 1 548.571429 402.285714v269.970286z m-490.422858-87.04a36.571429 36.571429 0 0 1 64.804572 33.974857A109.494857 109.494857 0 0 0 109.714286 670.427429C109.714286 779.117714 287.122286 877.714286 512 877.714286s402.285714-98.56 402.285714-207.250286c0-17.005714-4.278857-33.828571-12.8-50.468571a36.571429 36.571429 0 0 1 64.987429-33.462858c13.787429 26.697143 20.955429 55.003429 20.955428 83.931429C987.428571 831.085714 771.876571 950.857143 512 950.857143S36.571429 831.085714 36.571429 670.427429c0-29.403429 7.387429-58.075429 21.577142-85.211429z"></path>
												</svg>
											</div>
										</li>
										<li id="autospin" class="extend-item _subview hidden">
											<div class="extend-icon-box">
												<svg id="iconautospin" viewBox="0 0 1024 1024">
													<path d="M288 490.666667h448a53.333333 53.333333 0 0 1 53.333333 53.333333V576a21.333333 21.333333 0 0 1-21.333333 21.333333H256a21.333333 21.333333 0 0 1-21.333333-21.333333v-32a53.333333 53.333333 0 0 1 53.333333-53.333333z" fill="#DDDEDF"></path>
													<path d="M344.981333 106.666667H679.04a64 64 0 0 1 63.893333 67.541333L725.333333 490.666667H298.666667l-17.578667-316.458667A64 64 0 0 1 344.96 106.666667z" fill="#D2D3D4"></path>
													<path d="M277.333333 597.333333h64l-40.192 301.482667a21.333333 21.333333 0 0 1-21.162666 18.517333H277.333333a19.968 19.968 0 0 1-19.904-21.290666L277.333333 597.333333zM682.666667 597.333333h64l19.904 298.709334A19.968 19.968 0 0 1 746.666667 917.333333h-2.645334a21.333333 21.333333 0 0 1-21.162666-18.517333L682.666667 597.333333z" fill="#BBBDBE"></path>
													<path d="M831.850667 694.826667c-0.213333 0-0.725333-0.576-1.962667-1.706667-3.84-3.541333-10.496-7.573333-19.690667-11.626667a21.333333 21.333333 0 0 1 17.237334-39.04c29.632 13.077333 47.232 29.333333 47.232 51.84C874.666667 755.2 716.458667 789.333333 512 789.333333a21.333333 21.333333 0 0 1 0-42.666666c90.346667 0 174.848-7.722667 236.864-21.12 29.44-6.336 52.693333-13.781333 67.946667-21.546667 9.898667-5.056 14.165333-8.917333 15.018666-9.6l0.021334 0.426667z m-639.701334-0.896c0.298667 0.021333 1.088 0.874667 3.050667 2.517333 5.034667 4.202667 13.504 8.810667 24.96 13.333333 24.746667 9.770667 61.226667 18.346667 105.685333 24.746667a21.333333 21.333333 0 1 1-6.101333 42.24C212.906667 761.365333 149.333333 736.277333 149.333333 694.314667c0-22.933333 18.197333-39.36 48.874667-52.565334a21.333333 21.333333 0 1 1 16.874667 39.168c-9.642667 4.16-16.661333 8.32-20.757334 12.010667-1.386667 1.258667-1.962667 1.856-2.176 1.856v-0.853333z" fill="#8E9194"></path>
													<path d="M533.333333 701.056v133.888a10.666667 10.666667 0 0 1-15.957333 9.28l-117.162667-66.965333a10.666667 10.666667 0 0 1 0-18.517334l117.162667-66.965333a10.666667 10.666667 0 0 1 15.957333 9.28z" fill="#8E9194"></path>
												</svg>
											</div>
										</li>
										<li id="topview" class="extend-item _subview hidden">
											<div class="extend-icon-box">
												<svg id="icontopview" viewBox="0 0 1024 1024">
													<path d="M335.232 320h347.306667a64 64 0 0 1 63.914666 60.949333l15.232 320A64 64 0 0 1 697.749333 768H320a64 64 0 0 1-63.936-67.050667l15.253333-320A64 64 0 0 1 335.232 320z" fill="#DDDEDF"></path>
													<path d="M303.253333 256h411.264a42.666667 42.666667 0 0 1 42.090667 49.685333l-10.090667 60.48a21.333333 21.333333 0 0 1-21.034666 17.834667H292.266667a21.333333 21.333333 0 0 1-21.056-17.834667l-10.069334-60.48A42.666667 42.666667 0 0 1 303.253333 256z" fill="#D2D3D4"></path>
												</svg>
											</div>
										</li>
										<li id="frontview" class="extend-item _subview hidden">
											<div class="extend-icon-box">
												<svg id="iconfrontview" viewBox="0 0 1024 1024">
													<path d="M288 490.666667h448a53.333333 53.333333 0 0 1 53.333333 53.333333V576a21.333333 21.333333 0 0 1-21.333333 21.333333H256a21.333333 21.333333 0 0 1-21.333333-21.333333v-32a53.333333 53.333333 0 0 1 53.333333-53.333333z" fill="#DDDEDF"></path>
													<path d="M344.981333 106.666667H679.04a64 64 0 0 1 63.893333 67.541333L725.333333 490.666667H298.666667l-17.578667-316.458667A64 64 0 0 1 344.96 106.666667z" fill="#D2D3D4"></path>
													<path d="M277.333333 597.333333h64l-40.192 301.482667a21.333333 21.333333 0 0 1-21.162666 18.517333H277.333333a19.968 19.968 0 0 1-19.904-21.290666L277.333333 597.333333zM682.666667 597.333333h64l19.904 298.709334A19.968 19.968 0 0 1 746.666667 917.333333h-2.645334a21.333333 21.333333 0 0 1-21.162666-18.517333L682.666667 597.333333z" fill="#BBBDBE"></path>
												</svg>
											</div>
										</li>
										<li id="view45" class="extend-item _subview hidden">
											<div class="extend-icon-box">
												<svg id="iconview45" viewBox="0 0 1024 1024">
													<path d="M531.157333 106.666667h232.277334a42.666667 42.666667 0 0 1 42.453333 47.146666L768 512H469.333333l19.2-364.906667A42.666667 42.666667 0 0 1 531.157333 106.666667z" fill="#D2D3D4"></path>
													<path d="M767.893333 106.666667h15.36a21.333333 21.333333 0 0 1 21.226667 23.36L768 512h-42.666667l3.392-366.506667A39.168 39.168 0 0 1 767.893333 106.666667zM704 576h64v320a21.333333 21.333333 0 0 1-21.333333 21.333333h-1.28a21.333333 21.333333 0 0 1-21.312-20.010666L704 576z" fill="#BBBDBE"></path>
													<path d="M266.666667 490.666667H746.666667a21.333333 21.333333 0 0 1 21.333333 21.333333v64a21.333333 21.333333 0 0 1-21.333333 21.333333H234.666667a21.333333 21.333333 0 0 1-21.333334-21.333333v-32a53.333333 53.333333 0 0 1 53.333334-53.333333z" fill="#DDDEDF"></path>
													<path d="M565.333333 490.666667h192a10.666667 10.666667 0 0 1 10.666667 10.666666v85.333334a10.666667 10.666667 0 0 1-10.666667 10.666666H533.333333a21.333333 21.333333 0 0 1-21.333333-21.333333v-32a53.333333 53.333333 0 0 1 53.333333-53.333333z" fill="#D2D3D4"></path>
													<path d="M233.301333 597.333333h64L257.066667 898.816a21.333333 21.333333 0 0 1-21.141334 18.517333h-2.645333a19.968 19.968 0 0 1-19.925333-21.290666L233.301333 597.333333zM490.666667 597.333333h64l-20.010667 300.096a21.333333 21.333333 0 0 1-21.290667 19.904H512a21.333333 21.333333 0 0 1-21.333333-21.333333V597.333333z" fill="#BBBDBE"></path>
												</svg>
											</div>
										</li>
										<li id="lateralview" class="extend-item _subview hidden">
											<div class="extend-icon-box">
												<svg id="iconlateralview" viewBox="0 0 1024 1024">
													<path d="M725.333333 106.666667h18.986667a21.333333 21.333333 0 0 1 21.205333 23.573333L725.333333 512h-64l19.093334-362.730667A44.970667 44.970667 0 0 1 725.333333 106.666667z" fill="#D2D3D4"></path>
													<path d="M298.666667 597.333333h64l-40.192 301.482667a21.333333 21.333333 0 0 1-21.162667 18.517333H298.666667a19.968 19.968 0 0 1-19.904-21.290666L298.666667 597.333333zM661.333333 576h64v320a21.333333 21.333333 0 0 1-21.333333 21.333333h-1.28a21.333333 21.333333 0 0 1-21.312-20.010666L661.333333 576z" fill="#BBBDBE"></path>
													<path d="M309.333333 490.666667H725.333333a21.333333 21.333333 0 0 1 21.333334 21.333333v64a21.333333 21.333333 0 0 1-21.333334 21.333333H277.333333a21.333333 21.333333 0 0 1-21.333333-21.333333v-32a53.333333 53.333333 0 0 1 53.333333-53.333333z" fill="#DDDEDF"></path>
												</svg>
											</div>
										</li>
										<li id="dimension" class="extend-item _topview">
											<div class="extend-icon-box">
												<svg id="icondimension" viewBox="0 0 1024 1024">
													<path d="M585.728 163.328l90.496-90.453333a42.666667 42.666667 0 0 1 60.330667 0l211.2 211.157333a42.666667 42.666667 0 0 1 0 60.330667L344.362667 947.754667a42.666667 42.666667 0 0 1-60.330667 0l-211.2-211.2a42.666667 42.666667 0 0 1 0-60.330667l90.496-90.496 60.373333 60.330667a42.666667 42.666667 0 1 0 60.330667-60.330667l-60.330667-60.330667 60.330667-60.373333 120.661333 120.704a42.666667 42.666667 0 1 0 60.330667-60.330667L346.069333 406.4l60.330667-60.330667L465.066667 404.693333a42.666667 42.666667 0 1 0 60.330666-60.330666L465.066667 284.032l60.373333-60.330667 120.661333 120.661334a42.666667 42.666667 0 1 0 60.330667-60.330667l-120.661333-120.704z"></path>
												</svg>
											</div>
										</li>
										<li id="ar" class="extend-item _topview">
											<div class="extend-icon-box">
												<svg id="iconAR" viewBox="0 0 1024 1024">
													<path d="M301.738667 248.149333L512 725.333333H423.253333l-48.469333-108.544h-228.693333L99.669333 725.333333H13.653333L223.914667 248.149333h77.824z m40.96 294.229334l-81.92-183.637334-81.237334 183.637334h163.157334z m638.976-139.264c0 78.72-34.346667 128.341333-103.082667 148.821333L1003.52 725.333333h-102.4l-114.005333-160.426666h-105.813334V725.333333H600.746667V248.149333h177.493333c72.832 0 124.928 12.288 156.330667 36.864 31.402667 24.576 47.104 63.957333 47.104 118.101334z m-200.021334 88.746666c45.525333 0 76.458667-7.04 92.842667-21.162666 16.384-14.08 24.576-36.736 24.576-67.925334 0-31.146667-8.405333-52.565333-25.258667-64.170666-16.853333-11.605333-46.890667-17.408-90.112-17.408h-102.4v170.666666h100.352z"></path>
												</svg>
											</div>
										</li> 
										<li id="fullscreen" class="extend-item _topview normal">
											<div class="extend-icon-box">
												<svg id="iconfullscreen1" viewBox="0 0 1024 1024">
													<path d="M768 307.712l-133.741714 133.741714a36.571429 36.571429 0 0 1-51.712-51.712L716.288 256H621.714286a36.571429 36.571429 0 0 1 0-73.142857h146.285714a73.142857 73.142857 0 0 1 73.142857 73.142857v146.285714a36.571429 36.571429 0 0 1-73.142857 0V307.712zM256 716.288l133.741714-133.741714a36.571429 36.571429 0 0 1 51.712 51.712L307.712 768H402.285714a36.571429 36.571429 0 0 1 0 73.142857H256a73.142857 73.142857 0 0 1-73.142857-73.142857v-146.285714a36.571429 36.571429 0 0 1 73.142857 0v94.573714z"></path>
												</svg>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="qr_mask" style="display:none ;">
				<div class="qr_close">CLOSE</div>
				<div id="qrcode" class="hidden" style="position: relative;">

					<div id="qrcode_text" style="">
						Use your phone camera<br/> to scan the qr code and<br/> open it with<br/> systems default browser
					</div>
				</div>
			</div>
			<div class="qr_msk" style="display:none ;">
				<div class="qr_close"><i class="fa fa-times" aria-hidden="true"></i></div>
				<div id="qrcode1" class="hidden" style="position: relative;">
					<div id="qrcode_text1" style="">
						Use your phone camera to scan the qr code and<br/> open it with systems default browser
						<img src="https://elivingfurniture.com.au/wp-content/themes/tm-robin-child//imges/scan.png" alt="img">
					</div>
				</div>
			</div>
		</div>
<style>	
			.col-md-12{
				position: relative;
				min-height: 1px;
				padding-right: 15px;
				padding-left: 15px;
				width: 100%;
			}
			.row {
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				margin-left: -15px;
				margin-right: -15px;
			}
			body {
				background-color: #fff;
			}
			.display_3d{
				display:none !important;
			}
			section#View_in_chair h2 {
				z-index: 22;
			}
			.single-product-content-area.mb-50 {
				opacity: 1 !important;
			}
			#_3dviewertoolbar {
				display: inline-block;
				float: right;
				position: absolute;
				bottom: 15px;
				right: 15px;
			}
			.default-extend-panel .extend-list li.hidden {
				display: none;
			}
			.default-extend-panel .extend-list li._subview:hover,
			.default-extend-panel .extend-list li._subview.active {
				border: 2px solid #ccc;
				border-radius: 6px;
			}

			._coohom_container {
				position: relative;
			}


			.default-extend-panel .extend-list li._subview:hover .extend-icon-box svg,
			.default-extend-panel .extend-list li._subview.active .extend-icon-box svg {
				background: #f3f4f4;
			}

			.default-extend-panel .extend-list li:hover .extend-icon-box svg,
			.default-extend-panel .extend-list li.active .extend-icon-box svg {
				background-color: #dddedf;
			}

			.default-extend-panel .extend-list {
				display: flex;
				margin-bottom: 0;
				padding: 4px 0 4px 4px;
				background-color: #f3f4f4;
				border-radius: 8px;
				padding-right: 10px;
			}

			.default-extend-panel .extend-list li {
				border-radius: 6px;
				border: 2px solid #f3f4f4;
				list-style-type: none;
				display: flex;
				flex-grow: 0;
				align-items: center;
				cursor: pointer;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				margin-left: 10px;
				width: 40px;
			}

			.default-extend-panel .extend-list li .extend-icon-box .iconfont-viewer {
				font-size: 22px;
				color: #4b4f54;
			}

			.default-extend-panel .extend-list li .extend-icon-box svg {
				position: relative;
				width: 36px;
				height: 36px;
				border-radius: 6px;
				background: #f3f4f4;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 4px;
			}
			.dialog-type-lightbox{
				z-index: 99999;
			}
			single-product-content-area{
				display: none;
			}
			#wpadminbar{
				display:none;
			}
			.wlb-added {
				display: none;
			}
			@media only screen and (max-width: 767px){
				.qr_msk .qr_close {
					right: 0;
					top: 0;
				}
				.zoomContainer{
					display: none !important;
				}
				.mobile-gallery img {
					height: 18px;
					margin-right: 5px;
					width: auto;
				}
			}
			@media only screen and (max-width: 480px){
				.default-extend-panel .extend-list {
					display: inline-block; 
					margin-bottom: 0;
					padding: 4px 0 4px 4px;			
					border-radius: 8px;
					padding-right: 0px;
					background-color: transparent;
					text-align: right;
					width: 100%;
					flex: 0 0 100%;
					max-width: 100%;
					position: absolute;
					bottom: 0;
					right: 15px;
				}
				#_3dviewertoolbar {
					display: inline-block;
					float: right;
					position: absolute;
					bottom: unset;			
					right: -9px;
					bottom: 0px;
					top:9px;  
				}
				.default-extend-panel .extend-list li .extend-icon-box svg{
					background-color:transparent;
				}
				.default-extend-panel .extend-list li{
					margin-bottom: 6px;
					border:none;  
				}
				.default-extend-panel .extend-list li {
					margin-bottom: 6px;
					border: none;
					position: static;
					margin: 0 !important;
					display: inline-block;
				}
				#_3dviewertoolbar {
					position: static;
					order: 1;
				}
				._coohom_container canvas {
					margin: 30px 0;
				}
				#_3dviewertoolbar {
					width: 100%;
				}
			}
			@media only screen and (max-width: 450px){
				#qrcode_text1 img {
					width: 100px !important;
					right: -70px;
					top: -25px;
				}
				#qrcode1 img {
					width: 150px;
				}
			}
			@media only screen and (max-width: 375px){
				#qrcode_text1 {
					font-size: 14px;
					line-height: 20px;
					margin-bottom: 10px;
				}
				#qrcode_text1 img {
					right: 0;
					top: -75px;
					left: 33%;
					
				}
			}
			@media only screen and (max-width: 335px){
				#qrcode_text1 {
					font-size: 13px;
				}
			}
		</style>