<style>
  iframe {
      width: 100% !important;
      height: 724px !important;
      border: none !important;
  }
</style>
<div class="container">
<script type="text/javascript">(function(){try{var
   a=addEventListener,b=function(){};a&&a(“touchstart”,b);a&&a(“touchmove”,b);
    a&&a(“touchend”,b)}catch(e){}}());</script>
  <iframe src="https://www.myunidays.com/partners/lifely/embedded/online"
   style="max-width: 1150px; height: 720px;"></iframe>
</div>